<html>
<head>
    {{ encore_entry_link_tags('home', null, 'theme') }}

</head>
<style>


</style>
<body>
<div class="nav">
    <ul>

        {% for item in navigation %}
            <li><a href="{{ item.url }}">{{ item.label }}</a></li>
        {% endfor %}
    </ul>
    <div class="search-bar">
        <input type="{{ search.type }}" placeholder="{{ search.placeholder }}">
    </div>
</div>




<div>
    {% for item in content %}
        {{ include(item.template) }}
    {% endfor %}
</div>

{#</div>#}


{{ encore_entry_script_tags('home', null, 'theme') }}

</body>
</html>