
<div class="footer">
    <div class="text-zone">{{ item.text }}</div>
        <div class="input">
            <label>
                <input type="text" name="sign-up" placeholder="email">
            </label>
            <div class="button">{{ item.button }}</div>
        </div>
    <div class="contact">
        <div>{{ item.phone }}</div>
        <div>{{ item.email }}</div>
        <div>{{ item.address }}</div>
    </div>
</div>

